* {}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #999999;
    font-family: "Montserrat", cursive;
}

.container {
    width: 100%;
    max-width: 500px;
}

form {
    background-color: #eee;
    width: 370px;
    /* Breite des Formulars */
    padding: 20px;
    border: 1px solid #8c8c8c;
}

label {
    /* Beschriftung auf eigener Zeile */
    display: block;
    cursor: pointer;
    /* Mauszeiger wird zur Hand */
}

input#absender,
textarea {
    width: 300px;
    border: 1px solid #8c8c8c;
    margin-bottom: 1em;
}

textarea {
    height: 7em;
}

input:focus,
textarea:focus {
    background-color: #d9d9d9;
}

.fancy-link {
    text-decoration: none;
    color: #ee6352;
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    /*Linie am Anfang invis, da 0% von ihr auf de x Achse zu sehen sind*/
    transform-origin: right;
    /*NACH dem hover wird die Transformation nach Rechts "right" gehen, da hier der transform-origin liegt*/
    transition: transform 250ms ease-in;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    /*Line breitet sich auf die Gesamtgröße des Hyperlinks aus*/
    transform-origin: left;
}

.navigation {
    position: sticky;
    top: 0;
    float: right;
}

table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
    cursor: pointer;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

tr:hover {
    background-color: salmon;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}